*{
    box-sizing: border-box
}

img
iframe
video
audio {
    max-width: 100%;
}

body {
background-color:  white;
background-image: url(resources/Background.jpg);
background-repeat: no-repeat ;
}

main { 
background-color: white (0, 0, 0, 0.5); 
background-size: cover

}
/* global layout stuff */
.site-name {
    font-size: 50px;
    font-weight: bold; 
    color: whitesmoke
}

/* global typography*/

a {
    color: rgb(16, 16, 46)

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}




.col-layout {
     background-color: navajowhite
}
/* navigation */ 

nav {
    background-color: rgba(255, 228, 196, 0.39);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
font-size: 24px;
text-decoration: none;
transition: 0.5s;
}

nav a:hover {
    color: goldenrod;
    font-size: 32px;
    
}

nav ul {
    display: flex;
    Justify-content:space-evenly;
    list-style: none;
}

/* general layout stuff */


@media screen and (min-width: 800px) {
    .col-layout {
        background-color: white;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 50px;

        
    
        }
    }
    

/* Artile styles */

article {
    background-color: #f1f1f1;
    padding: 20px

}
.sub-item {
    max-width: 700px;
    background-color: whitesmoke;
    margin-bottom: 40px;
    padding-bottom: 40px;

    margin-left: auto; 
    margin-right: auto;

}